<h1 class="text-2xl text-green-800 text-center uppercase font-medium mt-12">Salesperson Database</h1>

<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="text-end">
    <%= link_to 'Add New', new_admin_salesperson_path, class: 'py-2 px-4 bg-green-800 text-white rounded' %>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-12">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <% @admin_salespeople.each do |salesperson| %>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= salesperson.name %>
                    </th>
                    <td class="px-6 py-4">
                        <%= salesperson.active %>
                    </td>
                    <td class="px-6 py-4">
                        <%= link_to edit_admin_salesperson_path(salesperson), class: 'font-medium text-green-800 dark:text-green-500 hover:underline' do %>
                            Update
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

