<h1 class="text-2xl text-green-800 text-center uppercase font-medium mt-8 mb-4">Update Sale</h1>

<div class="justify-center md:text-end sm:text-center mx-auto ml-8">
  <%= form_with model: [:admin, @admin_sale], class: 'space-y-3' do |form| %>
    <% if form.object.errors.any? %>
        <% form.object.errors.full_messages.each do |message| %>
            <div>
                <%= message %>
            </div>
        <% end %>
    <% end %>

    <div class="grid grid-cols-4 w-8/12 ml-28 gap-2 items-center mt-10">
      <%= form.label :transaction_date, class: 'text-end' %>
      <%= form.date_field :transaction_date, required: true,  class: "border-transparent border-b-gray-500 focus:border-transparent focus:border-b-gray-500 focus:ring-transparent col-span-3" %>
    
      <%= form.label :payment_method, class: 'text-end' %>
      <%= form.text_field :payment_method, required: true,  class: "border-transparent border-b-gray-500 focus:border-transparent focus:border-b-gray-500 focus:ring-transparent col-span-3" %>

      <%= form.label :purchase_share, class: 'text-end' %>
      <%= form.text_field :purchase_share, required: true,  class: "border-transparent border-b-gray-500 focus:border-transparent focus:border-b-gray-500 focus:ring-transparent col-span-3" %>

      <%= form.label :amount, class: 'text-end' %>
      <%= form.text_field :amount, required: true,  class: "border-transparent border-b-gray-500 focus:border-transparent focus:border-b-gray-500 focus:ring-transparent col-span-3" %>

      <%= form.label :total_amount, class: 'text-end' %>
      <%= form.text_field :total_amount, required: true,  class: "border-transparent border-b-gray-500 focus:border-transparent focus:border-b-gray-500 focus:ring-transparent col-span-3" %>

      <%= form.label :payout, class: 'text-end' %>
      <%= form.text_field :payout, required: true,  class: "border-transparent border-b-gray-500 focus:border-transparent focus:border-b-gray-500 focus:ring-transparent col-span-3" %>

      <%= form.label :status, class: 'text-end' %>
      <div class="col-span-3 w-full">
        <%= form.select(:status, ["Pending", "Paid"],{}, {:class => "border-transparent border-b-gray-500 focus:border-transparent focus:border-b-gray-500 focus:ring-transparent w-full" }) %>
      </div>
    </div>
    
    
    <div class="actions text-center">
      <%= link_to 'Back', admin_sales_path, class: 'border px-4 py-2 mt-2 inline-block rounded' %>
      <%= form.submit "Update", class: "py-2 px-4 bg-green-800 rounded text-white" %>
    </div>
  <% end %>
</div>