<h1 class="text-2xl text-green-800 text-center uppercase font-medium mt-12 uppercase">Sales Summary & Payment Transactions</h1>

<div class="text-end">
    <%= link_to 'Export to Excel', admin_sales_path(format: :xlsx), target: :_blank, class: 'py-2 px-4 bg-green-800 text-white rounded' %>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-12">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 overflow-x-scroll max-w-full">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Client Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Referral Code
                </th>
                <th scope="col" class="px-6 py-3">
                    Transaction Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Payment Method
                </th>
                <th scope="col" class="px-6 py-3">
                    Purchase Share
                </th>
                <th scope="col" class="px-6 py-3">
                    Amount
                </th>
                <th scope="col" class="px-6 py-3">
                    Total
                </th>
                <th scope="col" class="px-6 py-3">
                    Payout
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Salesperson
                </th>
                <th scope="col" class="px-6 py-3">
                    Remarks
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <% @admin_sales.each do |sale| %>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= link_to admin_sale_path(sale), class: 'link' do %>
                            <%= sale.affiliate.fullname %>
                        <% end %>
                    </th>
                    <td class="px-6 py-4">
                        <%= sale.ref_code %>
                    </td>
                    <td class="px-6 py-4">
                        <%= sale.transaction_date.present? ? sale.transaction_date.strftime("%B %d, %Y") : '' %>
                    </td>
                    <td class="px-6 py-4">
                        <%= sale.payment_method %>
                    </td>
                    <td class="px-6 py-4">
                        <%= sale.purchase_share %>
                    </td>
                    <td class="px-6 py-4">
                        <%= sale.amount %>
                    </td>
                    <td class="px-6 py-4">
                        <%= sale.total_amount %>
                    </td>
                    <td class="px-6 py-4">
                        <%= sale.payout %>
                    </td>
                    <td class="px-6 py-4 capitalize">
                        <%= sale.status %>
                    </td>
                    <td class="px-6 py-4 capitalize">
                        <%= sale.salesperson.name %>
                    </td>
                    <td class="px-6 py-4 capitalize">
                        <%= sale.remarks %>
                    </td>
                    <td class="px-6 py-4">
                        <%= link_to edit_admin_sale_path(sale), class: 'font-medium text-green-800 dark:text-green-500 hover:underline' do %>
                            Update
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

