<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= image_tag 'brio-logo-green.png', alt: 'logo', class: "w-36 mx-auto mb-2" %>
<p class="font-medium text-center text-xs  mb-8">Brio is Home</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "block text-center mb-2 text-xl" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "focus:outline-transparent focus:ring-transparent w-full mb-2 rounded-full text-center text-gray-500 text-xl" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "block text-center mb-2 text-xl"%>
    <%= f.password_field :password, autocomplete: "current-password", class: "focus:outline-transparent focus:ring-transparent w-full mb-4 rounded-full text-center text-xl text-gray-500" %>
  </div>

  <div class="actions text-center">
    <%= f.submit "Log in", class: 'bg-green-800 text-white px-8 py-2 rounded-full uppercase font-medium text-xl' %>
  </div>
<% end %>

