<h2>Affiliates</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "block text-center mb-2 text-xl" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full mb-2 rounded-full text-center text-xl" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "block text-center mb-2 text-xl"%>
    <%= f.password_field :password, autocomplete: "current-password", class: "w-full mb-4 rounded-full text-center text-xl" %>
  </div>

  <div class="actions text-center">
    <%= f.submit "Log in", class: 'bg-green-800 text-white px-8 py-2 rounded-full uppercase font-medium text-xl' %>
  </div>
<% end %>
