<h1 class="text-2xl text-green-800 text-center uppercase font-medium mt-12">Affiliate Database</h1>

<div class="text-end">
    <%= link_to 'Add New', new_admin_affiliate_path, class: 'py-2 px-4 bg-green-800 text-white rounded' %>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-12">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Referral Code
                </th>
                <th scope="col" class="px-6 py-3">
                    Seller Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email Address
                </th>
                <th scope="col" class="px-6 py-3">
                    Address
                </th>
                <th scope="col" class="px-6 py-3">
                    Contact No.
                </th>
            </tr>
        </thead>
        <tbody>
            <% @admin_affiliates.each do |affiliate| %>
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= affiliate.id.to_s.rjust(4, '0') %>
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= link_to admin_affiliate_path(affiliate), class: 'link' do %>
                            <%= affiliate.fullname %>
                        <% end %>
                    </th>
                    <td class="px-6 py-4">
                        <%= affiliate.email %>
                    </td>
                    <td class="px-6 py-4">
                        <%= affiliate.address %>
                    </td>
                    <td class="px-6 py-4">
                        <%= affiliate.mobile %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

