<section class="bg-white/60 px-4 py-4 rounded-lg">
    <div class="text-center">
        <%= image_tag 'brio-logo-green.png', alt: 'logo', class: 'w-36 mx-auto' %>
        <h1 class="font-optima font-bold uppercase text-3xl text-green-900">Be a Co-owner</h1>
        <p class="uppercase font-medium mb-5">To be part of something amazing!</p>

        <p class="text-lg text-green-950">Fill out the form to start journey with us</p>
    </div>

    <%= form_with(model: @sale, url: "/sales/invest/form/create") do |form| %>
        <% if form.object.errors.any? %>
            <% form.object.errors.full_messages.each do |message| %>
                <div>
                    <%= message %>
                </div>
            <% end %>
        <% end %>

        <div class="md:grid md:grid-cols-4 md:w-8/12 md:ml-20 md:gap-2 md:items-center mt-5 sm:space-y-0">
            <%= form.label :firstname, class: 'sm:text-end block sm:inline' %>
            <%= form.text_field :firstname, required: true, required: true,  class: "block w-full sm:inline border-transparent border-b-gray-500 bg-transparent focus:border-transparent focus:border-b-gray-500 focus:ring-transparent md:col-span-3" %>
            <%= form.text_field :status, value: "Pending", class: "hidden" %>

            <%= form.label :lastname, class: 'sm:text-end block sm:inline' %>
            <%= form.text_field :lastname, required: true, required: true,  class: "block w-full sm:inline border-transparent border-b-gray-500 bg-transparent focus:border-transparent focus:border-b-gray-500 focus:ring-transparent md:col-span-3" %>
        
            <%= form.label :contact_no, "Contact No.", class: 'md:text-end block sm:inline' %>
            <%= form.text_field :contact_no, required: true, required: true,  class: "block w-full sm:inline border-transparent border-b-gray-500 bg-transparent focus:border-transparent focus:border-b-gray-500 focus:ring-transparent md:col-span-3" %>
        
            <%= form.label :email, class: 'md:text-end block sm:inline' %>
            <%= form.email_field :email, required: true, required: true,  class: "block w-full sm:inline border-transparent border-b-gray-500 bg-transparent focus:border-transparent focus:border-b-gray-500 focus:ring-transparent md:col-span-3 sm:w-full" %>
            
            <%= form.label :affiliate_id, "Ref Code", class: 'md:text-end block sm:inline' %>
            <%= form.text_field :affiliate_id, value: @ref_code, required: true, readonly: true, class: "block w-full sm:inline border-transparent border-b-gray-500 bg-transparent focus:border-transparent focus:border-b-gray-500 focus:ring-transparent md:col-span-3 sm:w-full" %>
        </div>

        <div class="text-center mt-5">
            <%= form.submit "Send", class: "px-10 py-2 bg-green-800 text-white rounded-full" %>
        </div>
    <% end %>
</section>
