<%= form_with(model: @affiliate, url: "/affiliate/account_setting/update") do |form| %>
  <% if @affiliate.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@affiliate.errors.count, "error") %> prohibited this affiliate from being saved:</h2>

      <ul>
        <% @affiliate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="text-2xl mb-20 w-8/12 mx-auto mt-10">Account Setting</h1>

  <div class="grid grid-cols-4 w-8/12 ml-28 gap-2 items-center mt-10">
    <%= form.label :bank, class: 'text-end' %>
    <%= form.text_field :bank, required: true,  class: "border-transparent border-b-gray-500 focus:border-transparent focus:border-b-gray-500 focus:ring-transparent col-span-3" %>
  
    <%= form.label :account_name, class: 'text-end' %>
    <%= form.text_field :account_name, required: true,  class: "border-transparent border-b-gray-500 focus:border-transparent focus:border-b-gray-500 focus:ring-transparent col-span-3" %>
  
    <%= form.label :account_no, class: 'text-end' %>
    <%= form.text_field :account_no, required: true,  class: "border-transparent border-b-gray-500 focus:border-transparent focus:border-b-gray-500 focus:ring-transparent col-span-3" %>
  
    <div class="inline col-span-full mt-5 text-end">
      <%= form.submit "Update Details", class: "rounded-full py-3 px-5 bg-green-700 text-white inline-block font-medium cursor-pointer" %>
    </div>
  </div>
<% end %>
