<div class="px-5">
    <%= image_tag @affiliate.avatar.present? ? @affiliate.avatar : 'user.png', alt: 'src', class: "w-36 h-36 inline-block rounded-full" %>
    <h1 class="inline-block text-3xl"><%= @affiliate.fullname %></h1>

    <div class="grid grid-cols-4 w-8/12 ml-28 gap-2">
        <p class="text-end">Referral Code:</p>
        <p class="border-b col-span-3"><%= @affiliate.id.to_s.rjust(4, '0') %></p>
        
        <p class="text-end">Birthday:</p>
        <p class="border-b col-span-3"><%= @affiliate.birthday.present? ? @affiliate.birthday.strftime("%B %d, %Y") : '' %></p>

        <p class="text-end">Age:</p>
        <p class="border-b col-span-3"><%= @age %></p>

        <p class="text-end">Address:</p>
        <p class="border-b col-span-3"><%= @affiliate.address %></p>

        <p class="text-end">Contact No:</p>
        <p class="border-b col-span-3"><%= @affiliate.mobile %></p>

        <p class="text-end">Email:</p>
        <p class="border-b col-span-3"><%= @affiliate.email %></p>

        <p class="text-end">Facebook:</p>
        <p class="border-b col-span-3"><%= @affiliate.fb %></p>

        <p class="text-end">Instagram:</p>
        <p class="border-b col-span-3"><%= @affiliate.ig %></p>

        <p class="text-end">Tiktok:</p>
        <p class="border-b col-span-3"><%= @affiliate.tiktok %></p>

        <p class="text-end">Youtube:</p>
        <p class="border-b col-span-3"><%= @affiliate.youtube %></p>

        <p class="text-end">Others:</p>
        <p class="border-b col-span-3"><%= @affiliate.others %></p>
    </div>

    <div class="text-end">
        <%= link_to affiliate_profile_edit_path, class: 'inline-block bg-green-700 text-white px-6 py-2 rounded-full' do %>
            Edit
        <% end %>
    </div>
</div>