<!DOCTYPE html>
<html>
  <head>
    <title>BrioDeAgohoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex min-h-screen">
        <nav class="sidebar w-64 bg-green-800 text-white text-center uppercase font-medium">
            <ul>
                <li class="py-4 border-b text-xl text-orange-400">
                    <%= link_to affiliate_path, class: 'link' do %>
                        Dashboard
                    <% end %>
                </li>
                <li class="py-4 border-b">
                    <%= link_to affiliate_profile_path, class: 'link' do %>
                        Profile
                    <% end %>
                </li>
                <li class="py-4 border-b">
                    <%= link_to affiliate_path, class: 'link' do %>
                        My Account
                    <% end %>
                </li>
                <li class="py-4 border-b">
                    <%= link_to affiliate_path, class: 'link' do %>
                        Account Setting
                    <% end %>
                </li>
                <li class="py-4 border-b">
                    <% if affiliate_signed_in? %>
                        <%= link_to "Sign out", destroy_affiliate_session_path, data: { 'turbo-method' => :delete, 'turbo_confirm' => "Are you sure?"  } %>
                    <% end %>
                </li>
            </ul>
        </nav>
        <main class="flex-1 m-4">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
        </main>
    </div>
  </body>
</html>
