<!DOCTYPE html>
<html>
  <head>
    <title>BrioDeAgohoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex min-h-screen" data-controller="navigation">
        <nav class="sidebar w-full fixed md:static z-10 md:w-64 min-w-64 bg-green-800 text-white text-center uppercase font-medium md:block">
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="p-2 menu-btn md:hidden" width="50" height="50" fill="#fff" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path></svg>
                
                <svg xmlns="http://www.w3.org/2000/svg" class="p-2 hidden close-btn md:hidden" width="50" height="50" fill="#fff" viewBox="0 0 256 256"><path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path></svg>
            </div>

            <ul class="hidden md:block">
                <li class="py-4 border-b text-xl text-orange-400 <%= request.fullpath.length == 10 ? 'bg-white' : '' %>">
                    <%= link_to affiliate_path, class: 'link' do %>
                        Dashboard
                    <% end %>
                </li>
                <li class="py-4 border-b <%= request.fullpath.include?('profile') ? 'bg-white text-green-800' : '' %>">
                    <%= link_to affiliate_profile_path, class: 'link' do %>
                        Profile
                    <% end %>
                </li>
                <li class="py-4 border-b <%= request.fullpath.include?('sale') ? 'bg-white text-green-800' : '' %>">
                    <%= link_to affiliate_sale_path, class: 'link' do %>
                        Sales
                    <% end %>
                </li>
                <li class="py-4 border-b <%= request.fullpath.split('/')[-1] == 'account' ? 'bg-white text-green-800' : '' %>">
                    <%= link_to affiliate_account_path, class: 'link' do %>
                        My Account
                    <% end %>
                </li>
                <li class="py-4 border-b <%= request.fullpath.include?('account_setting') ? 'bg-white text-green-800' : '' %>">
                    <%= link_to affiliate_account_setting_path, class: 'link' do %>
                        Account Setting
                    <% end %>
                </li>
                <li class="py-4 border-b">
                    <% if affiliate_signed_in? %>
                        <%= link_to "Sign out", destroy_affiliate_session_path, data: { 'turbo-method' => :delete, 'turbo_confirm' => "Are you sure?"  } %>
                    <% end %>
                </li>
            </ul>
        </nav>
        <main class="flex-1 m-4 w-full overflow-hidden mt-20 md:mt-4">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
        </main>
    </div>
  </body>
</html>
