<!DOCTYPE html>
<html>
  <head>
    <title>BrioDeAgohoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen grid grid-cols-4 justify-center items-center bg-[url('beach.jpg')] bg-cover">
    <main class="col-start-2 col-span-2">
      <%= yield %>
    </main>
  </body>
</html>
